@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root{
    --
}













    * {
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(182, 243, 182);
    padding: 0px;
    margin: 0px;

}

#Container{
    background-color: white;
    max-width: 1110px;
    margin: auto;
    margin-top: 0px;
    
}
/*    HEADER     */
header{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.315);
    text-align: center;
}
header > h1{
    font-size: 3.5em;
}
/*   NAV    */
nav{
    width: 100%;
    justify-content: space-between;
}
ul{
    background-color: gray;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 20px 0px 20px;
}
li{
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: white;
}
li a:hover{
    color: pink;
    transition: 1s ease;
}

/*  MAIN       */
main h1 {
    text-align: center;
}
#Flores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    flex-wrap: wrap;
    
}
#Flores > h1{
    text-align: center;
}

/* ROSAS */
.Card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 50% - 10px;
    flex-grow: 300px;
    transition: 0.5s ease;
    margin: 0 auto;
    padding: 0px;
}
.Card input[type="checkbox"]{
    display: none;
}
.Foto{
    min-width: 220px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 80px;
    overflow: hidden;
}
.Foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Informação{
    max-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 34, 34, 0.836);
    border-radius: 20px;
    padding: 0;
}
.Informação > h2{
    text-align: center;
}
.Informação > p{
    text-align: center;
}
input[type="checkbox"]:checked ~ .Informação{
    max-width: 250px;
    height: 140px;
    padding: 20px;
    white-space: normal;
}


@media (max-width: 768px){
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
    #Flores{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        gap: 10pxpx;
        
    }
    .Card{
        justify-content: center;
        align-items: center;
    }
    .Foto{
       object-fit: cover;
    }

}