@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Julius+Sans+One&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font1: 'Playfair Display';
    --font2: 'Julius Sans One';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    min-height: 100vh;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeebf;
    padding: 0px;
    margin: 0px;

}

#Container{
    background-color: #96fc96;
    max-width: 1110px;
    margin: auto;
    margin-top: 0px;
    
}
/*    HEADER     */
header{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.315);
    text-align: center;
    font-family: var(--font1);
}
header > h1{
    font-size: 3.5em;
}
/*   NAV    */
nav{
    width: 100%;
    padding-bottom: 5px;
    justify-content: space-between;
}
ul{
    background-color: #B0C4DE;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 20px 0px 20px;
}
li{
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: var(--font1);
}
li a:hover{
    color: rgb(194, 107, 121);
    transition: 1s ease;
}

/*  MAIN       */
main h1 {
    width: 100%;
    text-align: center;
    font-size: 1.9em;
    font-weight: bolder;
    font-family: var(--font2);
    background-color: rgb(247, 78, 78);
    margin-bottom: 10px;
}
#Flores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    flex-wrap: wrap;
    
}
#Flores > h1{
    text-align: center;
    font-family: var(--font2);
}

/* GALERIA */
.Card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 50% - 10px;
    flex-grow: 300px;
    transition: 0.5s ease;
    margin: 0 auto;
    padding: 0px;
}
.Card input[type="checkbox"]{
    display: none;
}
.Foto{
    min-width: 220px;
    height: 180px;
    flex-shrink: 0;
   
    overflow: hidden;
}
.Foto img{
    width: 100%;
    height: 100%;
     border-radius: 80px;
    object-fit: cover;
}
.conter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 190px;
    flex: 1 1;
}
.Informação{
    max-width: 0px;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 34, 34, 0.836);
    border-radius: 20px;
}
.Informação > h2{
    text-align: center;
}
.Informação > p{
    text-align: center;
    font-weight: bolder;
    font-family: var(--font1);
}
.Informação span{
    text-align: center;
    font-weight: bolder;
}
input[type="checkbox"]:checked ~ .Informação{
    max-width: 250px;
    height: 150px;
    padding: 20px;
    white-space: normal;
}


@media (max-width: 768px){
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
    html, body{
    width: 100%;
    min-height: 100vh;
    }
    #Flores{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
    .Card{
        display: flex;
        flex: 1 1;
        flex-direction: column;
        width: 45%;
        align-items: center;
    }
    .Foto{
       object-fit: cover;
       border-radius: 0px;
    }
    
    .Informação{
        display: flex;
        flex: 1;
    }

    #Container{
        width: 100%;
        min-height: 100vh;
        background-color: rgb(104, 255, 142);
    }
    
    label{
        display: flex;
        width: 100px;
        overflow: visible;
        justify-content: center;
    }
}