@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Julius+Sans+One&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font1: 'Playfair Display';
    --font2: 'Julius Sans One';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    min-height: 100vh;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeebf;
    padding: 0px;
    margin: 0px;

}

#Container{
    display: inline-block;
    background-color: #96fc96;
    margin: auto;
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.315);
    padding-bottom: 10px;
    width: 1000px;
}
/*    HEADER     */
header{
    text-align: center;
    font-family: var(--font1);
}
header > h1{
    font-size: 3.5em;
}
/*   NAV    */
nav{
    width: 100%;
    padding-bottom: 5px;
    justify-content: space-between;
}
ul{
    background-color: #B0C4DE;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 20px 0px 20px;
}
li{
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: var(--font1);
}
li a:hover{
    color: rgb(194, 107, 121);
    transition: 1s ease;
}

/*  MAIN   */
#topo{
    text-align: center;
}
#topo input{
    padding: 6px;
    margin: 0px;
    font-weight: bolder;
    font-family: var(--font2);
    background-color: rgb(247, 78, 78);
    margin-bottom: 10px;
    border-radius: 20px;
    border-width: 0px;    
}
#topo h1 {
    width: 100%;
    text-align: center;
    font-size: 1.9em;
    font-weight: bolder;
    font-family: var(--font2);
    background-color: rgb(247, 78, 78);
    padding: 8px;
    margin-bottom: 10px;
}
#Flores{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
#Flores h1{
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: var(--font2);
    background-color: rgb(247, 78, 78);
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 10px;
}


/* GALERIA */
.Card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 300px;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    transition: 0.5s ease;
    margin: 0 auto;
    padding: 10px;
    min-height: 200px;
}
.Card img{
    width: 130px;
    height: 130px;
    border-radius: 20px;
    margin-bottom: 5px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.315);
}
.Informação{
    white-space: normal;
    transition: 0.5s ease;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    flex-direction: column;
    background-color: rgba(245, 100, 100, 0.836);
    border-radius: 20px;
}
.Informação > h2{
    text-align: center;
}
.Informação > p{
    text-align: center;
    font-weight: bolder;
    font-family: var(--font1);
}
.Informação.ativa{
   max-height: 500px;
   opacity: 1;
   padding: 10px;
}

/*   BUQUES   */
#buque{
    display: flex;
    justify-content: center;
    align-items: center;

}
#buq{
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
    font-family: var(--font2);
    background-color: rgb(247, 78, 78);
    padding: 8px;
    margin-bottom: 10px;
}
/*   SLIDER    */
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    display: flex;
    width: 400%;
    height: 400px;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
    
}

.slide img{
    width: 800px;
    border-radius: 20px;
    
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: rgb(245, 63, 63);
}

#r1:checked ~ .first{
    margin-left: 0;
}
#r2:checked ~ .first{
    margin-left: -25%;
}
#r3:checked ~ .first{
    margin-left: -50%;
}
#r4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20A6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#r1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(252, 67, 67);
}
#r2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(252, 67, 67);
}
#r3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(252, 67, 67);
}
#r4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(252, 67, 67);
}





@media (max-width: 768px){
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
    html, body{
    width: 100%;
    min-height: 100vh;
    }
    #Flores{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        justify-content: space-around;

    }
    .Card{
        flex: 1 1 45%;
        max-width: 49%;
        
    }
    .Card img{
        width: 100px;
        height: 100px;
        border-radius: 30px;
    }
    .Informação{
        
        flex: 1;
    }

    #Container{
        width: 100%;
        min-height: 100vh;
    }

    /*  SLIDE  */

    .slider{
    margin: 0 auto;
    width: 350px;
    height: 175px;
    overflow: hidden;
    }
    .slide img{
    width: 350px;
    
    }
    .manual-navigation{
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
    
   
}