@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Julius+Sans+One&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font1: 'Playfair Display';
    --font2: 'Julius Sans One';
}
html, body{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 250, 164);;
    padding: 0px;
    margin: 0px;

}
nav{
    width: 100%;
    padding-bottom: 5px;
    justify-content: space-between;
}
nav ul{
    background-color: #B0C4DE;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 20px 0px 20px;
}
li{
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: var(--font1);
}
li a:hover{
    color: rgb(194, 107, 121);
    transition: 1s ease;
}

#Galeria{
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
}