@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Julius+Sans+One&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font1: 'Playfair Display';
    --font2: 'Julius Sans One';
}
html, body{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0px;
    margin: 0px;

}
nav{
    width: 100%;
    padding-bottom: 5px;
    justify-content: space-between;
}
nav ul{
    background-color: #B0C4DE;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 20px 0px 20px;
}
li{
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: var(--font1);
}
li a:hover{
    color: rgb(194, 107, 121);
    transition: 1s ease;
}

#Galeria{
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(130, 250, 140);;
    padding-bottom: 20px;
}

/*  FOTOS   */

.Foto{
    display: flex;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap:break-word ;
    width: 600px;
    height: 350px;
    padding: 5px;
}
.Foto img{
    border-radius: 20px;
    height: 320px;
}
.Foto a{
    display: block;
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: var(--font2);
    background-color: rgb(248, 76, 70);
    text-decoration: none;
    border-radius: 20px;
}
.Foto h1{
    margin-left: 5px;
    font-size: 27px;
    font-family: var(--font2);
    color: red;
}
.Foto p{
    margin-left: 5px;
}
.Foto ul li{
    text-align: start;
}
.Foto .mensagem{
    font-size: 20px;
    text-align: center;
    color: red;
}
.ladoesquerdo #salmao{
    color: rgb(250, 128, 128);
}
.ladoesquerdo #azul{
    color: rgb(16, 45, 211);
}
.ladoesquerdo #amarelo{
    color: rgb(217, 248, 41);
}

@media (max-width: 768px){
     nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding-left: 40px;
    }
    .Foto{
        width: 100%;
        height: 300px;
    }
    .Foto img{
        width: 150px;
        height: 260px;
    }
    .Foto h1{
        font-size: 20px;
        margin: 3px;
    }
    .Foto h2{
        font-size: 15px;
        margin: 2px;
    }
    .Foto p{
        font-size: smaller;
        margin: 3px;
    }
    .Foto .mensagem{
        font-size: 14px;
        margin: 3px;
    }
    .Foto li{
        font-size: smaller;
    }
}