@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Bebas+Neue&family=Julius+Sans+One&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font1: 'Playfair Display';
    --font2: 'Julius Sans One';
}


nav{
    width: 100%;
    padding-bottom: 5px;
    justify-content: space-between;
}
nav ul{
    background-color: #B0C4DE;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 20px 0px 20px;
}
li{
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: var(--font1);
}
li a:hover{
    color: rgb(194, 107, 121);
    transition: 1s ease;
}




body{
    margin: 0px;
    padding-top: 10px;
    background-color: antiquewhite;
}
#Galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#Galeria .Foto{
    display: flex;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap:break-word ;
    width: 500px;
    height: 350px;
}
.Foto p{
    text-align: start;
    word-wrap: break-word;
    font-size: 1.1em;
}
.Foto .valor{
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
}
.Foto a{
    display: block;
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: var(--font2);
    background-color: rgb(248, 76, 70);
    text-decoration: none;
    border-radius: 20px;
}
.Foto .ladodireito h2{
    font-family: var(--font2);
    font-weight: bold;
    font-size: 1.8em;
}
#Galeria .Foto img{
    object-fit: cover;
    height: 290px;
    width: 200px;
    margin-bottom: 20px;
    margin-right:8px;
    border-radius: 20px;
}

@media (max-width: 768px){
       nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding-left: 40px;
    }
    .Foto{
        width: 100px;
    }
    .Foto img{
        width: 100px;
        height: 100px;
        border-radius: 30px;
        margin-left: 5px;
    }
    .Foto .valor{
        margin: 3px;
    }
    .Foto h2{
        margin: 3px;
        margin-bottom: 5px;
    }
    .Foto p{
        margin: 4px;
        font-size: 21px;
    }
}